<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anesthesia Doctors</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <header>
        <h1>Anesthesia Doctors</h1>
    </header>
    <main>
        <ul class="doctor-list">
            <li class="doctor">
                <img src="/static/images/doc1.png" alt="Doctor 1">
                <h2>Dr. Nikhil Singh</h2>
                <p>Specialty: Anesthesiology</p>
                <p>Location: Lucknow</p>
                <p>Experience: 15 years</p>
                <button id="contact">Contact</button>
            </li>
            <li class="doctor">
                <img src="/static/images/doc2.png" alt="Doctor 2">
                <h2>Dr. Sandeep Singh</h2>
                <p>Specialty: Anesthesiology</p>
                <p>Location: Lucknow</p>
                <p>Experience: 10 years</p>
                <button id="contact">Contact</button>
            </li>
            <li class="doctor">
                <img src="/static/images/doc2.png" alt="Doctor 2">
                <h2>Dr. Sandeep Singh</h2>
                <p>Specialty: Anesthesiology</p>
                <p>Location: Lucknow</p>
                <p>Experience: 10 years</p>
                <button id="contact">Contact</button>
            </li>
            <li class="doctor">
                <img src="/static/images/doc2.png" alt="Doctor 2">
                <h2>Dr. Sandeep Singh</h2>
                <p>Specialty: Anesthesiology</p>
                <p>Location: Lucknow</p>
                <p>Experience: 10 years</p>
                <button id="contact">Contact</button>
            </li>
            <!-- Add more doctors as needed -->
        </ul>
<!-- 
        <form method="POST" action="/add_doctor">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="specialty">Specialty:</label>
            <input type="text" id="specialty" name="specialty" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <label for="experience">Experience:</label>
            <input type="text" id="experience" name="experience" required>

            <button type="submit">Add Doctor</button>
        </form> -->
    </main>
    <footer>
        <p>&copy; 2024 Anesthesia Clinic. All rights reserved.</p>
    </footer>
</body>

</html>